[Unit]
Description=Raspberry Pi Kiosk
Wants=network.service
After=graphical.target
[Service]
Type=simple
Environment=DISPLAY=:0.0
Environment=XAUTHORITY=/home/pi/.Xauthority
Restart=on-abort
User=pi
Group=pi
ExecStart=/usr/bin/startx /etc/X11/Xsession /opt/webkiosk.sh -- -keeptty
[Install]
WantedBy=graphical.target
